@font-face {
  font-family: Poppins;
  src: url(../public/Poppins-Medium.ttf);
  font-weight: normal;
}

$darkgreen: #42B549;
$lightgreen: #84CB66;
$font: Poppins;

.container{
  font-family: $font;
  box-shadow: rgba(128, 128, 128, 0.226) 2px 5px;
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.login{
  background-color: $lightgreen;
  border: 0px;
  border-radius: 5px;
  color: white;
  width: 150%;
  font-family: $font

}

.register{
  background-color: $darkgreen;
  border: 0px;
  border-radius: 5px;
  color: white;
  width: 150%;
  font-family: $font
}

.cart{
  border: 0px;
  background-color: transparent;
  cursor: pointer;

}

.search{
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  margin-top: -20px;
}

.searchBar{
  width: 250%;
  height: 50%;
  border: grey 2px solid;
  border-radius: 5px;
  
}

.searchContainer{
  display: flex;
  width: 40%;

}
.buttons{
  display: flex;
  width: 15%;
  height: 30px;
}

.dropdownContent{
  display: none;  
  cursor: pointer;
}

.dropdownTitle{
  cursor: pointer;

}

.dropdownTitle:hover{
  background-color: rgba(128, 128, 128, 0.123);
  // background-color: transparent;
  border-radius: 15%;
}

.dropdownTitle:hover .dropdownContent{
  display: block;
  cursor: pointer;
  
  border-radius: 15%;

  
}

.dropdownContent:hover{
  background-color: rgba(128, 128, 128, 0.473);

}

.profile{
  display: flex;
  border-radius: 15%;
}