@font-face {
  font-family: Poppins;
  src: url(../public/Poppins-Medium.ttf);
  font-weight: normal;
}

$darkgreen: #42B549;
$lightgreen: #84CB66;
$font: Poppins;



.container{
  font-family: $font;
}

.cardProduct{
  border-radius: 5%;
  border: grey 1px solid;
  box-shadow: rgba(128, 128, 128, 0.226) 12px 5px;
  padding: 30px;
  font-family: $font;
  margin: 10px;
  
}
.productCard{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  // max-width: 500px;

}

.sideList{
  list-style: none;
  // box-shadow: rgba(128, 128, 128, 0.226) 12px 5px;
  color: #42B549;
  
}

.category{
  font-family: $font;
  // box-shadow: rgba(128, 128, 128, 0.226) 2px 5px;
  border: rgba(128, 128, 128, 0.226) 2px solid;
  border-radius: 10px;
}

.productContainer{
  display: flex;
  font-family: $font;

}

.sideContainer{
  font-family: $font;

}

.cardProductContainer{
  display: flex;
  justify-content: center;
}

.slider{
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.rightarrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftarrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.productContainerContent{
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}