@font-face {
  font-family: Poppins;
  src: url(../public/Poppins-Medium.ttf);
  font-weight: normal;
}

$darkgreen: #42B549;
$lightgreen: #84CB66;
$font: Poppins;

.title{
  font-family: $font;
  text-align: center;
}

.reviewContainer{
  border: rgba(128, 128, 128, 0.336) 1px solid;
  border-radius: 10px;
  padding: 10px 80px;
  margin: 30px;
  text-align: center;
}

.button{
  background-color: $darkgreen;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-family: $font
}